body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('Omkareshwar\ temple.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
background-image{
    height:200px;
}

header {
    background-color: #1992ce;
    text-decoration: underline;
    color: #eadf14;
    text-align: center;
    padding: 20px;
    opacity: 0.8;
    font-size: 30px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #0bb716;
    text-align: center;
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #0eb70b;
    text-decoration: underline;
}

h3 {
    color: rgb(68, 19, 229);
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #cf8515;
    text-decoration: none;
}

p {
    text-decoration: solid;
    opacity: 0.8;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

em {
    font-size: 20px;
    font-style: serif;
    color: rgb(30, 111, 162);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 50px;
    background-color: rgb(15, 113, 143);
    padding: 10px;
}
